.NavBar {
    background: teal;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.NavBar a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

.NavBar a.NavBar-active {
    color: skyblue;
}